#root {
  font-family: "Lato", sans-serif;
  font-size: 14;
  max-width: 1280px;
  margin: 0;
  padding: 5px;
  text-align: center;
  background-color: rgba(35, 37, 47, 0.93);
}

.card {
  margin: 5px;
  padding-bottom: 10px;
}

.dark-card {
  background-color: #1e1e24 !important;
  color: #e0e0e0 !important;
  border-left: 4px solid #00f2ff !important;
}

.bright-blue {
  color: #00f2ff;
}

.even-spacing {
  letter-spacing: 1px;
}

.card-header {
  cursor: pointer;
  background-color: rgba(255,255,255,0.05) !important;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto;
  width: 100%;
}

.center {
  padding: auto;
}

.disperse-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

a {
  color: rgb(131, 130, 216) !important;
}
a:hover {
  color: rgb(107, 146, 210) !important;
  cursor: pointer;
}

.selectable:hover {
  cursor: pointer;
}

.margin {
  margin: 1em;
}
.pad {
  padding: 1em;
}
.margin-top-btm {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 20px !important;
  color: rgb(175, 175, 175) !important;
}

h3 {
  font-size: 16px !important;
  color: rgb(175, 175, 175) !important;
}

.intro-text {
  text-align: justify;
  font-size: 15px;
}